* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    width: 100vw;
}

body {
    position: relative;
    font-family: 'Barlow';
    font-weight: 400;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    background-color: #ffffff;
    overflow-x: clip;
}