.form-select {
    display: block;
    padding: 1rem 1.75rem;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    background-image: url(src/imgs/seta.svg)!important;
    background-position: 98% center!important;
    background-repeat: no-repeat!important;
}

.beers-header .block-image img {
    position: absolute;
    top: -265px;
    left: 30%;
}

.beers-items li:nth-child(even) {
    background-color: #ffc328;
}

.beers-items li:hover {
    transition: all ease-in-out 0.2s
}

.beers-items li:hover a h4 {
    transition: all ease-in-out 0.2s
}

.beers-items li:hover {
    background-color: #fff;
}

.beers-items li:hover a h4 {
    color: #000;
}

.experience {
    background-image: url(src/imgs/bg-image.png);
    background-repeat: no-repeat;
}

.blocks .block {
    width: 49%;
    height: 420px;
}

.blocks .block h4::after {
    content: " ";
    position: absolute;
    background-color: #e1251b;
    height: 4px;
    width: 70px;
    left: 0;
    bottom: -20px;
    z-index: 10;
}